librosa==0.10.1
spotipy==2.23.0
pandas==2.2.1
SQLAlchemy==2.0.28
streamlit==1.32.2
plotly==5.20.0
billboard.py==7.1.0
lyricsgenius==3.0.1
psycopg2-binary==2.9.9
requests==2.31.0
python-dotenv==1.0.1
fastapi==0.110.0
uvicorn==0.29.0
